@import '../../../minxin.scss';
@import '../../sass/common.scss';

.sc1{
    .contentWrapper{
        padding: 0;
    }
        position: absolute;
        z-index: 2;
        
        .headerNav{
            position: fixed;
            top: 0;
            width: 100%;
            transition: top 0.5s;
            display: flex;
            flex-direction: column;
            &:hover, &:active {
                background:linear-gradient(180deg, #4CA757 0%, #16A571 100%) !important;
            }
            @include md{
                &:hover {
                    background:linear-gradient(180deg, #4CA757 0%, #16A571 100%) !important;
                }
            }
            // @include md{
            //     &:hover {
            //         background: $text-second;
            //     }
            // }
            .subnav {
                position: relative;
                height: auto;
                font-size: 2rem;
                background: $text-second;
                width: 100%;
                top : 0;
                padding: 0;
                display: none;


                // li{
                //     width: 100% !important;
                // }

               
                @include md {
                    position: absolute;
                    height: 31rem;
                    left: 0;
                    right: 0;
                    top: 10rem;
                    font-size: 18px;
                    background: #29a86f;
                    gap: 10rem;
                    width: 100%;
                    padding: 4rem 3.5rem;
                    // .subnav_right{
                    //     display: flex;
                    // }
                }
                .subnav_right{
                    display: none ;
                    @include md {
                        display: flex;
                    }
                }
                .subnav_left{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    & ul {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            li {
                                cursor: pointer;
                                width: 100%;

                                @include md {
                                    width: 20%;
                                }
                            }
                            & .subnav_right {
                            display: none;
                            position: absolute;
                            width: 70%;
                            right: 0;
                            top: 0;
                            gap: 3rem;
                                .img{
                                    img{
                                    width: 260px;
                                    height: 300px;
                                    }
                                }
                                .content {
                                    max-width: 425px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2rem;
                                    h1 {
                                        font-size: 2rem;
                                    }
                                    .more {
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            
                        }
                        & li:hover + div {
                            display: none;
                            @include md {
                                display: flex;

                            }
                        }
               
                }
               
            }
            .subnav:hover {
                display: block;
                // position: relative;
                // height: auto;
                // font-size: 2rem;
                // background: $text-second;
                // width: 100%;
                // top : 0;
                // padding: 0;

                // li{
                //     width: 100% !important;
                // }

                // .subnav_right{
                //     display: none !important;
                // }
            }

            &.mobileViews{
                background: $text-second !important;
                .mobileMenuItems{
                    top: 4%;
                }
                .headerNav-bot{
                    display: flex;
                    padding: 1rem 4rem 2rem 4rem;
                    .nav_1{
                        .subnav{
                            display: none;
                            .subnav_left ul li :hover + .subnav_right {
                                display: none !important;
                            }
                        }
                        &:hover{
                                .subnav{
                                    display: block;
                                    position: static;
                                    height: auto;
                                    font-size: 2rem;
                                    padding: 0;
                                    
                                }
                            }
                    }
                }
            }
            .headerNav-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;
                padding: 0 4rem;
                img{
                    width: 122px;
                    height: 74px;
                    flex-shrink: 0;
                }
        
                span{
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25px;
                    width: 7.5rem;
                    height: 1.8rem;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    border-radius: 50px;
                    color: #fff;
                    display: none;
                    // display: flex;
                    justify-content: center;
                    align-items: center;

                    @include md{
                        display: flex;
                    }

                }
                
            }
            .mobileMenuItems{
                display: flex;
                color: #fff;
                font-size: 4rem;
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translate(-50%, -50%);
                @include md{
                    display: none;
                }
                // &:hover ~ .mobileViews{
                //     background: #16A571 !important;
                // }

                // &:hover ~ .headerNav-bot,
                // &:active ~ .headerNav-bot{
                //     display: flex;
                //     padding: 1rem 4rem;
                // }
            }
        
            .headerNav-bot{
                justify-content: space-around;
                font-size: 1.5rem;
                display: none;
                flex-direction: column;
                color: #fff;
                // margin: 0 3rem;
                padding: 0 5rem;
                .list-type{
                    font-size: 4rem;
                    font-weight: 300;
                    @include md {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                }
                @include md{
                    display: flex;
                    flex-direction: row;
                }
                & a {
                    color: #fff;
                }
            }
            
            
            .nav_1:hover ~ .subnav{
                display: block;
                
            }
        }
        
    }
// .openModalMobile{
//     &:hover 
// }

.show {
    display: flex;
    padding: 1rem 4rem;
}

.about_mobile{
    display: flex; 
    margin-top: 7rem;
    .about_mobile-left,
    .about_mobile-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        font-size: 2.5rem;
        opacity: 0.8;
    }
    @include md{
        display: none;
    }
}

.about_contact_mobile{
    display:  flex;
    flex-direction: column;
    color: #fff;
    gap: 2rem;
    margin-top: 10rem;
    p{
        font-size: 2.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 3rem;
    }
    div{
        border: 1px solid #fff;
        border-radius: 18px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        margin-bottom: 20rem;
        p{
            font-size: 2.6rem;
        }
       
    }
    @include md{
        display: none;
    }
}

.nav_link {
    flex: 1;
    padding-top: 0.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include md{
        margin: 0 0.8rem;
    }
}

.nav_link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.nav_1 .list-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem 0;
}

.subnav_left li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 0.8rem;
    padding: 1rem 0;
    position: relative;
}

.subnav_left ul li:nth-child(7) {
    border: none;
}

.subnav_left li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}


.subnav_left li:hover::before {
    width: 100%;
}

.subnav_left li:nth-child(7)::before {
    display: none;
}


.list-type{
    position: relative;
    .line{
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        background-color: #fff;
        opacity: 0.3;
    }

    &:hover {
        .line{
            width: 130%;
            opacity: 1;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        }
    }
}

