@import '../../sass/common.scss';
@import '../../../minxin.scss';


.contentWrapper{

    @include md {
        padding: 3.5rem 50px;
    }
}
.section2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
        @include md{
            flex-direction: column;

        }
    .section-top{
        width: 100%;
        position: relative;
        display: flex;
        gap: 20px;
        flex-direction: column;
        @include md{
            flex-direction: row;
        }
        .content-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 7rem;
            @include md{
                width: 40%;
                gap: 2rem;

            }
            .about-us{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                width: 100%;
                margin-top: 9.8rem;
                @include md {
                    margin-top: 0;

                }

                p:first-child {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3.1rem;
                    line-height: 1.8rem;
                    text-transform: uppercase;
                    color: #376A66;
                    @include md {
                    font-size: 1.1rem;
                        
                    }
                }
                
                p:last-child{
                    width: 100%;
                    font-size: 5.7rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 3.5rem; 
                    background: $background-primary;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: #3A5469;
                    @include md{
                        // width: 26rem;
                        font-size: 2.7rem;

                    }
                    
                    
                    span:nth-child(2) {
                        color: #3A5469;
                        font-size: 5.7rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 7.5rem;

                        @include md{
                            font-size: 2.7rem;
                            line-height: 3.5rem;
                        }
                    }
                    span:first-child,
                    span:nth-child(3),
                    span:last-child{
                        color: #4CA757;
                        font-size: 8rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 11rem;
                        letter-spacing: -2.3px;
                        @include md{
                            font-size: 3rem;
                            line-height: 3rem;
                        }
                    } 
                }

            }

            .seeMore{
                display: flex;
                text-align: center;
                align-items: center;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 27px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    width: 143px;
                    height: 143px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background: $background-primary;
                }
            }
        }

        .content-right{
            flex: 1;
                

            
        }
    }
    
    .section-bot{
        width: 100%;
        font-weight: 800;
        -webkit-text-stroke: 1px #16A571;
        color: transparent;
        margin-bottom: 10rem;
        
        @include md{
            margin-bottom: 1rem;
        }

        p{
            font-size: 6rem;
            font-style: normal;
            font-weight: 800;
            line-height: 9rem; 
            text-transform: uppercase;
            
            @include md {
                font-size: 4.5rem;
            }

            span{
                color: $text-second;
                background-clip: text;
                font-size: 6rem;
                font-style: normal;
                font-weight: 800;
                line-height: 9rem;
                text-transform: uppercase;
                @include md {
                    font-size: 4.5rem;
                }
                
            }
        }
        
    }
    
}

.photo-list {
    width: 100%;
    list-style: none;
    & .photo-item-sc2 {
        display: flex;
        width: 20rem;
        @include md{
            width: 15.8rem;
        }
        & img{
            display: flex;
            width: 100%;
        }
    }
}



.flex-container{
    display: flex;
    img{
        width: 100%;
        height: auto;
    }
    .flex-left-top{
        display: flex;
    }

    .flex-left-bot{
        display: flex;
        justify-content: flex-end;
        // gap: 20rem;
        // @include md {
        //     gap: 15rem
        // }
    }

    .flex-right{
        display: flex;
        flex-direction: column;
        .item1{
            position: relative;
            // bottom: 20rem;
            // @include md{
            //     bottom: 11rem;
            // }
        }
    }
}