
@import '../../sass/common.scss';
@import '../../../minxin.scss';
.section6{

    .contentWrapper{
        padding: 6.3rem 0 6.3rem 12px;

        @include md{
            padding: 6.3rem 60px;
        }
    }

    .title{
        margin-top: 1rem;
        color: #376A66;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.7rem;
        letter-spacing: 0.216rem;
        text-transform: uppercase;

        @include md {
            font-size: 1.3rem;
        }
    }
    

    .info-feature{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;
        .sub-title1{
            p{
                // background-clip: text;
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                color: $text-primary ;
                font-size: 5.3rem;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -1px;
                line-height: 35px;

                @include md {
                    font-size: 3.3rem;

                }
            }
        }

        .sub-title2{
            width: 12rem;
            height: 4.5rem;
            background: $background-primary;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            // font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            margin-right: 1rem;

            @include md {
                width: 10rem;
                height: 3rem;
                font-weight: 700;
                margin-right: 0;
            }
            p{
                color: #fff;
                font-size: 1.5rem;
                @include md {
                    font-size: 0.9rem;
                }
            }
        }
    }
    

}

#section6 {
    .slides {
        padding-bottom: 70;
        .swiper {
            padding-bottom: 7rem;
        }

        .swiper-wrapper {
            margin-bottom: 5rem;
            @include md {
                margin-bottom: 0;
            }
        }
        .swiper-pagination {
            width: 80%;
            background-color: white !important;
            top: auto;
            bottom: 5.5rem;
            left: 22%;
            @include md {
                left: 15%;
                bottom: 2.5rem;

            }
            .swiper-pagination-progressbar-fill {
                background-color: #4CA757;
            }
        }
        .swiper-button-prev, 
        .swiper-button-next {
            padding: 1.4rem 1.5rem;
            border-radius: 100%;
            color: white;
            background-color: #4CA757;
            border: 1px solid #4CA757;
        }
        .swiper-button-prev {
            bottom: 1.5rem;
            top: auto;
            
        }
        .swiper-button-next {
            bottom: 1.5rem;
            left: 9rem;
            top: auto;

            @include md {
                left: 5rem;
            }
        }
        .swiper-button-prev::after, 
        .swiper-button-next::after {
            font-size: 2.2rem;
            @include md {
                font-size: 1.2rem;

            }
        }
        .swiper-button-disabled {
            background-color: white;
            color: #4CA757;
        }
    }
    
}

.about-item{
    .img{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .info-bot{
        background: white;
        .date{
            opacity: 0.6;
            font-size: 4.3rem;
            padding: 0 1rem;

            @include md {
                font-size: 1rem;
            }
        }

            .desc1{
                width: 100%;
                font-weight: 500;
                margin: 1rem 0;
                padding: 0 1rem;
                font-size: 3rem;

                @include md{
                    font-size: 1rem;
                }
            }

            .seemore{
                display: flex;
                justify-content: flex-end;
                color: #fff;
                margin-bottom: 0.8rem;
                padding: 0 1rem;
                p{
                    font-size: 2.7rem;
                    margin-bottom: 1rem;
                    @include md {
                        font-size: 0.7rem;
                    }
                }
            }
        
    }
}
.swiper-slide-active {
    .img {
        background: $text-primary;
    }
    .info-bot, .desc1 {
        background: #4CA757;
        color: #fff;
    }
}